model/grover_large.pt
model/finetune/tox21/fold_0/model_0/model.pt
model/finetune/tox21/fold_0/model_0/model0.pt
model/finetune/tox21/fold_0/model_0/model1.pt
model/finetune/tox21/fold_0/model_0/model2.pt
model/finetune/tox21/fold_0/model_0/model3.pt
